<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Know Your City Tours" %></title>
    
    <%= stylesheet_link_tag "normalize", "all", "base", "layout", "skeleton" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
  <%= yield %>
  <%= partial "nav" %>
  
  <div class="photo">
	  photo
  </div>
	  	<div class="wrapper color-one">
	  		<div class="container">
	  			<div class="twelve columns">
	  				<div class="about">
	  					<h3>Know Your City is Portland’s only nonprofit organization<br>
	  					that offers regular tours to visitors on a daily basis.</h3>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  
	  	<div class="container">
				  		
				<div class="twelve columns">
					<div class="word">
			  			<p class="subtext">PICK YOUR</p>
			  			<h2>TOUR</h2>
			  		</div>	
				</div>	
				
				<div class="row four columns tour">
					<div class="tour1">					
					</div>	
				</div>
				
				<div class="row four columns tour">
					<div class="tour2">
					</div>	
				</div>
				
				<div class="row four columns tour">
					<div class="tour3">
					</div>	
				</div>
				
					<div class="diycolumn">
						<div class="diypdxinfo">
							<div class="eight columns">
								<div class="diy">
								DIY PDX
								</div>
							</div>
							
							<div class="four columns">
								<div class="diybullets">
								bullets
								</div>
							</div>
						</div>
					</div>	
	  	</div>
	  	
	  	<div class="wrapper color-two">
	  		<div class="container">
	  			<div class="twelve columns">
	  				<div class="word">
	  					<p class="subtext">PLAN YOUR</p> 
	  					<h2>SCHEDULE</h2>
	  				</div>
	  			</div>
	  			
	  			<div class="six columns">
	  				<div class="calendar">
	  					<h6>CALENDAR</h6>
	  					<p class="infotext">Tours run Thursday–Sundays,
	  					From May–September.</p>
	  					<p class="abouttext">For current tour times, see our calendar.</p>
	  				</div>
	  			</div>
	  			
	  			<div class="six columns">
	  				<div class="pricing">
	  					pricing
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	<div class="wrapper photo">
	  		<div class="container">
	  			<div class="twelve columns">
			  		<div class="word">
			  			<p class="subtext">COME AND</p>
			  			<h2>VISIT US</h2>
			  			<h5>Our bike kiosk is located in ANKENY ALLEY, between
			  			VOODOO DOUGHNUTS and SATURDAY MARKET</h5>
			  		</div>	
	  			</div>	
		  		
		  		<div class="eight columns">
		  			<div class="map">
		  				map
		  			</div>
		  		</div>
		  		
		  		<div class="four columns">
		  			<div class="info">
			  			address
		  			</div>
		  			
	  				<div class="info2">
	  					kiosk hours
	  				</div>
		  		</div>	
	  		</div>	
	  	</div>
	  	
	  	<div class="container">
	  	
	  		<div class="twelve columns">
	  			<div class="word">
	  				#DIYPDX
	  			</div>
	  			
	  			<div class="instagram">
	  				instagrampics
	  			</div>	
	  		</div>	
	 
	  	</div>
	  	
	  	<div class="wrapper footer">
	  		<div class="container">
		  		 <div class="twelve columns">
		  			<div class="footer">
		  				footer
		  			</div>
		  		</div>
	  		</div>
	  	</div>		
	  	
  		
  
    
  </body>
</html>