<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Know Your City Tours" %></title>
    
    <%= stylesheet_link_tag "normalize", "all", "base", "layout", "skeleton" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
  <%= yield %>
  
  	<div class="container">
  	 <%= partial "nav" %>
  		<div class="photo">
  			photo
  		</div>
  		
			<div class="sixteen columns">
				<div class="about">
		  			about section
		  		</div>
			</div>	
			  		
			<div class="sixteen columns">
				<div class="word">
		  			PICK YOUR TOUR
		  		</div>	
			</div>
			
			<div class="one-third column tour">
				<div class="tour1">
					tour1
				</div>	
			</div>
			
			<div class="one-third column tour">
				<div class="tour1">
					tour2
				</div>	
			</div>
			
			<div class="one-third column tour">
				<div class="tour1">
					tour3
				</div>	
			</div>

	
  		
  	</div>
  		
  
    
  </body>
</html>